@media only screen and (max-width:1024px) {
    .section-work {
        padding: 40px 0
    }
    .section-testimonials {
        padding: 30px 0 40px
    }
    .footer {
        padding: 30px 0
    }
    .main-nav li a:link,
    .main-nav li a:visited {
        padding-left: 15px;
        font-size: 18px
    }
    .pop-flex p {
        font-size: 18px
    }
    .testimonial-box {
        width: 60%;
        padding: 30px
    }
}
@media only screen and (max-width:768px) {
    .pop-flex,
    .work-flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
    .row {
        max-width: 90%;
    }
    .main-nav {
        display: none;
    }
    .mobile-main-nav {
        background-color: #333;
        background-image: url(../img/Back.jpg);
        background-position: center;
        background-size: cover;
        padding: 25px 15px;
        overflow: hidden;
        position: relative;
        z-index: 1000;
        border-bottom: 1px solid rgba(255, 255, 255, .3)
    }
    .mobile-main-nav li {
        list-style: none;
        display: block;
        padding-bottom: 25px
    }
    .mobile-main-nav li:last-child {
        padding-bottom: 0
    }
    .mobile-main-nav li a:link,
    .mobile-main-nav li a:visited {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px
    }
    .nav-icon,
    .nav-icon:link,
    .nav-icon:visited {
        display: block
    }
    .hero-box {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding-right: 15px
    }
    .hero-box h1 {
        font-size: 35px
    }
    .hero-box p {
        font-size: 25px
    }
    header {
        height: 100vh
    }
    .pop-flex,
    .section-pop {
        height: auto
    }
    .pop-flex {
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 20px 0
    }
    .pop-flex p {
        margin-bottom: 15px;
        text-align: center;
        line-height: 135%
    }
    .work-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: left
    }
    .work-flex div {
        margin-bottom: 30px
    }
    .work-flex div:last-child {
        margin-bottom: 0
    }
}
@media only screen and (max-width:480px) {
    nav {
        padding: 35px 0 20px
    }
    .logo {
        width: 135px
    }
    .section-work {
        padding: 30px 0
    }
    .section-testimonials {
        padding: 30px 0 40px
    }
    .footer {
        padding: 25px 0
    }
    .work-flex h3 {
        font-size: 25px;
        margin-bottom: 10px
    }
    .icons {
        height: 30px;
        margin-right: 10px
    }
    .testimonial-box {
        width: 87%;
        padding: 10px 0;
        -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .2);
        box-shadow: 0 0 0 rgba(0, 0, 0, .2);
        border-radius: 0
    }
    h2::after {
        margin-bottom: 30px
    }
    blockquote {
        font-size: 100%;
        padding-left: 0;
        padding-top: 35px
    }
    .q-img {
        height: auto;
        width: 30px;
        position: absolute;
        left: 0;
        top: 0
    }
    .man-desc {
        margin-top: 20px;
        margin-left: 0
    }
}
