* {
    margin: 0;
    padding: 0
}
body {
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: .6px;
    color: #4a4a4a
}
.row {
    max-width: 85%;
    margin: 0 auto
}
.clearFix::after {
    display: table;
    overflow: hidden;
    clear: both
}
.centered-box {
    margin-top: 60px
}
header {
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 85vh;
    color: #fff
}
nav {
    padding: 40px 0 30px;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}
.logo {
    width: 145px;
    height: auto
}
.main-nav {
    float: right;
    padding-bottom: 10px
}
.main-nav li {
    list-style: none;
    display: inline-block;
    padding-left: 16px
}
.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s
}
.main-nav li a:active,
.main-nav li a:hover {
    border-bottom: 2px solid #fff;
}
.nav-icon,
.nav-icon:link,
.nav-icon:visited {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    cursor: pointer;
    float: right;
    margin-top: -7px;
    display: none
}
.man,
.name {
    float: left
}
.mobile-main-nav {
    display: none
}
.hero-box {
    top: 50%;
    -webkit-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    transform: translateY(-70%)
}
.hero-box h1 {
    font-size: 45px;
    margin-bottom: 10px
}
.hero-box p {
    font-size: 35px
}
.section-pop {
    height: 15vh;
    background: #eee
}
.pop-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 15vh
}
.pop-flex p {
    font-size: 20px
}
.btn:link,
.btn:visited {
    text-decoration: none;
    color: #fff;
    padding: 12px 25px;
    background-image: -webkit-gradient(linear, left top, right top, from(#F76B1C), color-stop(120%, #FAD961));
    background-image: -webkit-linear-gradient(left, #F76B1C 0, #FAD961 120%);
    background-image: -o-linear-gradient(left, #F76B1C 0, #FAD961 120%);
    background-image: linear-gradient(to right, #F76B1C 0, #FAD961 120%);
    background-color: #F76B1C;
    border-radius: 100px;
    font-size: 16px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}
.btn:hover {
  line-height: 5px;
  transition: all ease-in-out .3s;
  font-size: 12px;
}
.section-work {
    padding: 60px 0
}
.work-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.work-flex div {
    padding: 2%
}
.work-flex h3 {
    font-size: 27px;
    margin-bottom: 25px
}
.icons {
    width: auto;
    height: 40px;
    margin-right: 10px
}
.work-flex p {
    font-weight: 300
}
.section-testimonials {
    padding: 40px 0 60px
}
h2 {
    font-weight: 400;
    margin-bottom: 20px
}
.name,
.smart,
h2 span {
    font-weight: 600
}
h2::after {
    display: block;
    height: 3px;
    width: 40px;
    margin: 20px auto 40px;
    background: #205796;
    border-radius: 200px
}
.testimonial-box {
    width: 50%;
    margin: 0 auto;
    padding: 30px 50px;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
    border-radius: 10px
}
.man,
.q-img {
    margin-right: 20px
}
.tab-panel {
    display: none;
    opacity: 0;
    -webkit-animation: opac .7s forwards;
    animation: opac .7s forwards
}
.tab-panel.active {
    display: block
}
.q-img {
    height: auto;
    width: 35px;
    left: 0
}
blockquote {
    padding-left: 60px;
    position: relative
}
.man-desc {
    margin-top: 40px;
    margin-left: 40px
}
.man {
    height: 60px;
    width: 60px;
    border-radius: 50%
}
.name {
    margin-top: 10px
}
.last-name {
    color: #9b9b9b
}
.tab-list {
    margin-top: 30px
}
.tab-list li {
    list-style: none;
    display: inline-block;
    margin: 0 5px
}
.tab-list li.active a {
    background: #777!important
}
.tab-control:link,
.tab-control:visited {
    text-decoration: none;
    display: block;
    width: 17px;
    height: 18px;
    background-color: #e1e1e1;
    border-radius: 50%;
    cursor: pointer
}
.tab-control:link.active,
.tab-control:visited.active {
    background: #777
}
.btn-second:link,
.btn-second:visited {
    padding: 12px 40px;
    display: inline-block
}
footer {
    padding: 40px 0;
    background-color: #E1DDDD
}
footer p {
    font-size: 90%
}
@-webkit-keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
@keyframes opac {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.icons,
.logo {
    vertical-align: middle
}
.btn:link,
.btn:visited,
.hero-box h1,
.work-flex h3,
h2 {
    text-transform: uppercase
}
.clearFix::after,
h2::after {
    content: ""
}
.row,
.section-pop,
.tab-panel,
.testimonial-box {
    overflow: hidden
}
.hero-box,
.q-img {
    position: absolute
}
.work-flex p,
blockquote {
    line-height: 150%;
    font-size: 90%
}
.centered-box,
.tab-list,
.work-flex,
footer p,
h2 {
    text-align: center
}
